.about-me {
  text-align: center;
}
.main-dish {
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.snacks{
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;  
}
.dessert{
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.beverages{
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.ic{
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.row {
  display: flex;
}
.column {
  flex: 33.33%;
  padding: 5px;
}
.main {
  text-align: center;

}



